body {
  background-color: #cf9999a1;
  font-family: Verdana;
}

table {
  width: 30%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th, td {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #000;
}

th {
  background-color: #bac3a69e;
}

a{
  text-decoration: none;
  color: black;
}

button{
  border-radius: 5px;
}